.travel-modal {
  width: 30%;
  min-width: 320px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  margin: 5% auto;
  padding: 4rem 2.5rem 2.5rem;
  position: relative;
}

.travel-modal > .qrcode {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 150px;
  height: auto;
}