* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #799bce;
}

.container {
  width: 100%;
  min-height: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  max-width: 1000px;
  min-width: 280px;
  padding: 10px 20px 30px 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-sizing: border-box;
}

.card {
  width: 280px;
  min-width: 280px;
  text-align: center;
  padding: 20px 40px 10px 40px;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1;
}

.card:hover {
  background-color: #f6f6f6;
}

.card img {
  width: 60px;
  margin-top: 25px;
}

.card h2 {
  margin-top: 20px;
  color: #3c639e;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card p {
  color: #aaabae;
  font-size: .8rem;
  font-weight: 400;
  margin-top: 20px;
}

.card span {
  color: #3c639e;
  font-weight: 500;
}

.card .price {
  margin-top: 20px; 
}

.card .decimal {
  font-size: 2rem;
  font-weight: bold;
}

.card .month, .card .dollar {
  font-size: .8rem;
  font-weight: 400;
}

@media(max-width: 780px) {
  .container {
    top: 0;
    transform: translateY(0);
  }
}